.row {
  width:100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .container>.left,
#lezioni .container>.right {
  float: left;
  margin-top:50px;
}

#lezioni .container>.left{
  padding-right: 10px;
}

#lezioni .container>.right{
  padding-left: 10px;
}

#lezioni .container img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .container>.left,
#steps .container>.central,
#steps .container>.right {
  margin-top:50px;
  float: left;
}

#steps .container>.central{
  padding-right: 10px;
  padding-left:10px;
}

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .container>.first,
#why .container>.second,
#why .container>.third {
  margin-top: 80px;
}

#why .container img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.container::after {
  content: '';
  display: table;
  clear: both;
}

.bg-grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}

/* TABLET*/
@media screen and (min-width: 769px) and (max-width:992px){

  *{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-size: 12px;
  }

  h3{
    font-size:16px;
  }

  h1{
    font-size:24px;
    padding-top: 20px;
  }

  hr{
    display:none;
  }

  .row {
    margin-left: auto;
    margin-right: auto;
    margin-top:0px;
  }

  #lezioni .container>.left,
  #lezioni .container>.right {
    margin-top:30px;
    margin-bottom:20px;
    padding-left:10px;
    padding-right: 10px;
  }

  #lezioni .container .right img{
    width:200px;
    height:auto;
    margin-top:27px;

  }

  #steps .container>.left,
  #steps .container>.central,
  #steps .container>.right {
    margin-top: 30px;
    margin-bottom:20px;
    padding-left:10px;
    padding-right: 10px;
  }

  #why .container>.first,
  #why .container>.second,
  #why .container>.third {
    margin-top: 30px;
    margin-bottom:20px;
    padding-left:10px;
    padding-right: 10px;
  }

  .bg-yellow{
    background-color: #f2f2cd;
  }

  img{
    width:150px;
    height:auto;
    margin-bottom: 10px;
  }

}

/* MOBILE */
@media screen and (max-width:768px){

  *{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-size: 12px;
  }

  h3{
    font-size:14px;
  }

  h1{
    font-size:22px;
    padding-top: 20px;
  }

  .row{
    width:100%;
    margin:0;
  }

  #lezioni .container > .left, #lezioni .container > .right {
    padding-top:10px;
    padding-bottom:10px;
    padding-left:20px;
    padding-right:20px;
  }

  #steps .container > .left, #steps .container > .central, #steps .container > .right {
    float: left;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:20px;
    padding-right: 20px;
  }

  #why .container > .first, #why .container > .second, #why .container > .third {
      padding-left:20px;
      padding-right: 20px;
      margin-top:30px;
      margin-bottom:20px;
    }

  #why,#lezioni.container{
    background-color: #f2f2cd;
  }

  img{
    width:125px;
    height:auto;
  }

  hr{
    display:none;
  }

}
